---
layout: base
---

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Prorealnost Trello Dashboard</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a id="memberFullName">Not logged in</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        {% assign pages_list = site.pages %}
        {% assign group = 'navigation' %}
        {% include pages_list.html %}
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h1 class="page-header">{{ page.title }}</h1>

{{ content }}

    </div>
  </div>
</div>

<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://api.trello.com/1/client.js?key={{ site.trello_app_key }}"></script>
<script type="text/javascript" src="/js/lib/moment-with-locales.js"></script>
{% if page.js %}
  <script type="text/javascript" src="/js/{{ page.js }}.js"></script>
{% endif %}
<script type="text/javascript" src="/js/main.js"></script>
